h1{
  color: #8fbc8f;
}

h2 {
  font-family: Arial;
}

h3 {
  font-family: Arial;
}

#oh{
  color: #FFC0CB;
  }

#list{
  color: #9932CC;
  font-family: Arial;
}

#dream{
  color: #8B008B;
}

#h{
  color: #00CED1;
}

body{
  background-color: #fff0f2;
}
